body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Gill Sans Condensed, Trebuchet MS, Frutiger;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#initialLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 120px;
    height: 20px;
    -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
    animation: l4 2s infinite steps(6);
    display: block;
}
@keyframes l4 {
    100% {background-size:120%}
}

.cardBorder {
    border-radius: 15px;
    padding: 20px;
    background-color: #F7DC5F;
    height: 610px;
    display: none;
}

.card {
    padding: 10px 20px;
    height: 590px;
    width: 400px;
    background-image: url("assets/card.png");
}

.banner {
    background: linear-gradient(to right, #C9B149, white, #C9B149);
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    margin-bottom: 5px;
    padding: 3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image: linear-gradient(#FEFAAA, #E2CB4B, #FEFAAA) 0 1 0 1;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

#topHeader {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    padding-left: 50px;
    margin-bottom: 0px;
}

#topHeader p {
    margin: 0px;
    font-size: 12px;
}

#bottomHeader {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3px;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #A38D35, #EAD68C) 1 0 0 0;
    height: 25px;
    position: relative;
}

#stage2 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -10px;
    left: -20px;
}

#stage2 img {
    width: 100%;
    height: auto;
}

#headerHp {
    margin: 0; 
    margin-left: auto; 
    display: flex; 
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #DA352F;
}

#star {
    height: 30px;
    width: 30px;
}

#star img {
    width: 100%;
    height: auto;
}

#description {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 13px;
}

#preview {
    height: 250px;
    border: 10px solid #EAD398;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    margin-top: 0px;
    box-shadow: 5px 5px 8px 0px #673D32;
    background-color: white;
}

#preview img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#imgPreview {
    display: none;
}

#verdict {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#stars {
    height: auto;
    width: 80px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#stars img {
    height: 30px;
    width: 30px;
    margin: 1px;
}

#fullVerdict {
    margin-left: 10px;
    width: 60%;
}

#verdictProb {
    font-size: 25px;
    margin-left: auto;
}

#topKPredictions {
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}

#topKPredictions p {
    margin: 0px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

#topKPredictions p > *:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 15px;
    max-width: 100%;
}

#hint {
    border: 3px solid transparent;
    border-image: linear-gradient(to right bottom, #EAD68C, #A38D35) 1 1 1 1;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    margin: 0px;
}
