body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Gill Sans Condensed, Trebuchet MS, Frutiger;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardBorder {
    border-radius: 15px;
    padding: 20px;
    background-color: #F7DC5F;
    height: 590px;
}

.card {
    padding: 20px;
    height: 550px;
    width: 400px;
    background-image: url("assets/card.png");
}

.banner {
    background: linear-gradient(to right, #C9B149, white, #C9B149);
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    margin-bottom: 5px;
    padding: 3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image: linear-gradient(#FEFAAA, #E2CB4B, #FEFAAA) 0 1 0 1;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

#description {
    margin-top: 10px;
    margin-left: 18px;
    font-size: 13px;
}

#preview {
    height: 250px;
    border: 10px solid #EAD398;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    box-shadow: 5px 5px 8px 0px #673D32;
    background-color: white;
}

#preview img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#imgPreview {
    display: none;
}

#verdict {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#verdictProb {
    font-size: 25px;
    margin-left: auto;
}

#topKPredictions {
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}

#topKPredictions p {
    margin: 0px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hint {
    border: 3px solid transparent;
    border-image: linear-gradient(to right bottom, #EAD68C, #A38D35) 1 1 1 1;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
    margin: 0px;
    /* border-image: linear-gradient(to right bottom, red, blue) 1 1 0 0, linear-gradient(to left top, red, blue) 0 0 1 1; */
    /* border-image: linear-gradient(to left top, red, blue) 0 0 1 1; */
    /* background: linear-gradient(to right bottom, red, blue) 1 1 0 0, linear-gradient(to left top, red, blue) 0 0 1 1; */
}
